<p>This is step2.</p>

<form [formGroup]="step2">

  <div class="row">
    <div class="col-sm-4">
		<form-field [field]="fm.getField('input_dependants')"></form-field>
	</div>
  </div>

	<!-- the ngIf is a possible? performance attribute added to
	ignore the ngFor if the children are 0  -->
	<div *ngIf="hasChildren()">
		<div *ngFor="let i of input_number_of_children[0].options; let m = index">
			<!-- m is defined since its an int, i is a string -->
			<!-- ngIf is used instead of hiding so the field is removed from view -->
			<div class="row" *ngIf="assertChildCount(i)">
				<div class="col-sm-4">
					<form-field [field]="fm.getField('input_child_age_' + (m + 1))"></form-field>
				</div>
			</div>
		</div>
	</div>

   <div class="row">
	   <div class="col-sm-4">
			<form-field [field]="fm.getField('input_savings')"></form-field>
		</div>
	</div>

   <div class="row">
	   <div class="col-sm-4">
			<form-field [field]="fm.getField('input_carer_single')"></form-field>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<form-field [field]="fm.getField('input_family_disability')" ></form-field>
		</div>
	</div>

</form>
