<div class="row">
  <div class="col-sm-9">
    <label>{{ field[0].label }}:</label>
    <em class="text-danger" *ngIf="!field[1].valid"> {{ field[0].validation.message || field[0].validation[0].message}}
    </em>
      
    <div *ngIf="field[0].type == 'select'" [ngClass]="{ 'has-error' : !field[1].valid }">   
      <select [ngFormControl]="field[1]"   
        class="form-control">
        <option *ngFor="let option of field[0].options" value="{{ option }}">{{ option }}</option>
      </select>
    </div>
    
    <div *ngIf="field[0].type == 'text'" [ngClass]="{ 'has-error' : !field[1].valid }">
      <input type="text" 
        [ngFormControl]="field[1]" 
        class="form-control" 
        placeholder="{{ field[0].placeholder }}" />
    </div>
    
  </div>
</div>